<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>如果你打开了这个网站。说明服务器能正常使用。</h1>


<div style="margin-top: 100px; font-size: 22px"><a href="swagger-ui.html">跳转swagger</a></div>
<div style="margin-top: 50px; font-size: 22px"><a href="upload.html">跳转文件上传</a></div>
<div style="margin-top: 50px; font-size: 22px"><a href="WanGuiFeng/index.html">跳转index</a></div>
<div style="margin-top: 20px; font-size: 15px">提示：服务器网速慢，第一次进网站要十多秒</a></div>

</html>